{% extends "includes/skeleton_archive.html" %}

{% block title %}
    {{ tr('Archives') }} - {{ fp(config.site_name) }}
{% endblock title %}

{% block more_section %}

<section class="prism-section col-md-8 offset-md-2">
    <ul>
        {% for content in content_list %}
        <div>{{ content.meta['date'].format("YYYY") }}</div>
        <li>
            <h1 class="prism-post-title"><a class="no-link" href="{{ Router.gen_permalink_by_content(content) }}" target="_self">{{ content.meta['title'] }}</a></h1>
            <div class="prism-post-time">
                <a class="no-link" href="{{ Router.gen_permalink_by_content(content) }}" target="_self">
                    <time class="text-uppercase">
                        {{ content.meta['date'].format("MMMM DD YYYY") }}
                    </time>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

<section class="prism-section col-md-8 offset-md-2">
    {% if current_page > 1 %}
    <a prev class="no-link" href="{{ Router.gen_permalink('archives', '', current_page-1) }}" target="_self">Prev</a>
    {% endif %}
    <span>Page {{ current_page }} of {{ max_pages }}</span>
    {% if current_page < max_pages %}
    <a next class="no-link" href="{{ Router.gen_permalink('archives', '', current_page+1) }}" target="_self">Next</a>
    {% endif %}
</section>

{% endblock more_section %}
