{% extends "includes/skeleton_archive.html" %}

{% block title %}{{ fp(config.site_name) }}{% endblock %}
{% block og_title %}{{ fp(config.site_name) }}{% endblock %}
{% block og_description %}{{ fp(config.description) }}{% endblock %}
{% block og_url %}{{ Router.gen_permalink('index', '', current_page) }}{% endblock %}
{% block twitter_title %}{{ fp(config.site_name) }}{% endblock %}

{% block more_section %}

<section id="prism__post-list" class="prism-section row">
    {% for content in content_list %}
    <article class="yue prism-post-item col-md-8 offset-md-2">
        <h1 class="prism-post-title"><a class="no-link" href="{{ Router.gen_permalink_by_content(content) }}" target="_self">{{ content.meta['title'] }}</a></h1>
        <div class="prism-post-time">
            <a class="no-link" href="{{ Router.gen_permalink_by_content(content) }}" target="_self">
                <time class="text-uppercase">
                    {{ content.meta['date'].format("MMMM DD YYYY") }}
                </time>
            </a>
        </div>
        <div class="prism-content">{{ content.parsed }}</div>
    </article>
    {% endfor %}
</section>

<section class="prism-section" id="prism__paginate">
    {% if current_page > 1 %}
    <a prev class="no-link" href="{{ Router.gen_permalink('index', '', current_page-1) }}">Prev</a>
    {% endif %}
    <!-- <span>Page {{ current_page }} of {{ max_pages }}</span> -->
    {% if current_page < max_pages %}
    <a next class="no-link" href="{{ Router.gen_permalink('index', '', current_page+1) }}">Next</a>
    {% endif %}
</section>

<section id="prism__external_links" class="prism-section">
    <h2 class="text-uppercase">Links</h2>
    <ul>
        {% for item in config.external_links %}
        <li>
            <a class="no-link" target="_blank" href="{{ fp(item['url']) }}">{{ fp(item['name']) }}</a>：{{ fp(item['brief']) }}
        </li>
        {% endfor %}
    </ul>
</section>

{% endblock more_section %}
