@charset "utf-8";

/**
* author: Zeee
*/

@import "includes/normalize";
@import "includes/var";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background: #fff;
}

body {
    color: $black;
    font-family: $ga-font-sans;
}

@mixin my-link {
    text-decoration: none;
    color: #ccc;

    &:hover {
        opacity: .8;
    }
}

@import "includes/bootstrap-grid";
@import "includes/yue";
@import "includes/highlight";
@import "includes/preset";
@import "includes/global";
@import "includes/index";
@import "includes/content";
@import "includes/icon";
@import "includes/photoswipe";
@import "includes/dplayer";
