.links {
    .board-item {
        text-decoration: none;
        width: calc(25% - 15px);

        .board-thumb {
            margin-bottom: 10px;

            img {
                margin: 0;
            }
        }

        .board-title {
            font-size: 1em;
            color: $text-primary;
            letter-spacing: 2px;
            font-weight: 500;
            font-style: normal;
        }
    }
}
