.links {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% + 15px);
    margin-left: -15px;
    .board-item {
        position: relative;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        margin-bottom: 15px;

        .board-thumb {
            margin-bottom: 10px;

            img {
                margin: 0;
                width: 100%;
            }
        }

        .board-title {
            font-size: 1em;
            color: $text-primary;
            letter-spacing: 1px;
            font-weight: 500;
            font-style: normal;
        }
    }
}

@media (min-width: 768px) {
    .links .board-item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .links .board-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

iframe.bili-player {
    width: 100%;
}

div.photos {
    figure {
        margin: 2.5px;
        flex: 1;
        @media screen and (max-width: 767px) {
            figcaption {
                display: none;
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        img {
            margin: 0;
            max-width: 100%;
        }
        figcaption {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            margin: 0;
            padding: 60px 0 10px;
            color: #fff;
            background-image: linear-gradient(
                180deg,
                hsla(0, 0%, 100%, 0) 0,
                rgba(0, 0, 0, 0.03) 26%,
                rgba(0, 0, 0, 0.4) 71%,
                rgba(0, 0, 0, 0.5)
            );
            opacity: 0.6;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover figcaption {
            opacity: 1;
        }
    }
    display: flex;
    flex-wrap: wrap;
    & + *:not(.photos) {
        margin-top: 1.24rem;
    }
}
