/*
Global elements
*/

#prism__header {
    width: 100%;
    padding: 50px 20px 20px;
    text-align: center;

    h1 {
        font-size: 5em;
        margin-top: 10px;
        letter-spacing: 2px;
    }

    .brand-logo {
        width: 100%;
        max-width: 80px;
        text-align: center;
        margin: 0 auto 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .prism-nav {
        margin-top: 50px;

        ul {
            padding: 0;
            list-style: none;
            font-weight: 800;
            display: flex;
            justify-content: center;

            li {
                margin: 0 30px;
            }

        }
    }
}

#prism__footer {

    .social-links {
        margin-top: 30px;

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                margin: 0 10px;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background-color: #ccc;
                text-align: center;

                &:hover {
                    background-color: #999;
                }

                a {
                    color: #fff;
                    font-size: 16px;
                    line-height: 30px;
                    vertical-align: middle;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        margin: 0 auto 10px;
    }
}

#prism__external_links {
    h2 {
        text-align: center;
    }

    ul {
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            padding: 20px 0;
        }
    }
}
