/*
Global elements
*/

#prism__header {
    width: 100%;
    padding: 50px 20px 20px;
    text-align: center;

    .brand-logo {
        width: 100%;
        max-width: 420px;
        text-align: center;
        margin: 0 auto 10px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .prism-nav {

        ul {
            padding: 0;
            list-style: none;
            font-weight: 800;
            display: flex;
            justify-content: space-evenly;

        }
    }
}

#prism__footer {

    .social-links {
        margin-top: 30px;

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;

            li {
                margin: 0 30px;
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                background-color: #ccc;
                text-align: center;

                &:hover {
                    background-color: #bbb;
                }

                a {
                    color: #fff;
                    font-size: 18px;
                    line-height: 40px;
                    vertical-align: middle;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        margin: 0 auto 10px;
    }
}

#prism__external_links {
    h2 {
        text-align: center;
    }

    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        li {
            padding: 20px 0;
        }
    }
}
