.prism-section {

    h1.prism-post-title,
    .prism-post-time {
        text-align: center;
    }

    h1.prism-post-title {
        margin-bottom: .5em;

        &,
        a {
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-style: normal;
        }
    }

    .prism-post-time {
        margin-bottom: 10px;

        time {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #a8a8a8;
        }
    }

    h1.prism-post-title.section-title {
        margin-bottom: 2.5em
    }

    .prism-list {
        padding: 0;
        margin-bottom: 5em;

        .prism-list-item {
            list-style: none;
            margin-bottom: 2em;

            .prism-list-item-text {
                font-weight: 400;
                color: $text-primary;

                .item-title {
                    letter-spacing: 1px;
                }

                time {
                    color: $text-secondary;
                    margin-right: .8em;
                    font-size: 80%;
                }
            }
        }
    }


}

#prism__post-list {
    padding-left: 20px;
    padding-right: 20px;
}

.prism-post-meta {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    color: $text-light;

    a.no-link {
        color: $text-secondary;
    }

    span {
        font-size: 14px;
        margin-right: .3em;
    }

    span:last-child {
        margin-right: 0;
    }
}

.prism-pagination {
    ul {
        display: flex;
        padding: 0;
        justify-content: center;

        li {
            list-style: none;
            text-transform: uppercase;
            letter-spacing: .1em;
            margin: 0 10px;
            font-size: 14px;

            &.next i {
                margin-right: .5em;
            }

            &.prev i {
                margin-left: .5em;
            }
        }


    }
}
