.prism-section {
    // text-align: center;
}

#prism__post-list {
    padding-left: 20px;
    padding-right: 20px;

    h2.prism-post-item-title,
    .prism-post-item-time {
        text-align: center;
    }
}
