.prism-section {
    margin-bottom: 4.5em;
    &.prism-section-archive-list {
        padding: 0;
    }

    h1.prism-post-title,
    .prism-post-time {
        text-align: center;
    }

    h1.prism-post-title {
        margin-bottom: .5em;

        &,
        a {
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 500;
            font-style: normal;
        }
    }

    .prism-post-time {
        margin-bottom: 10px;

        time {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            font-style: normal;
            font-size: 13px;
            color: #a8a8a8;
        }
    }

    h1.prism-post-title.section-title {
        margin-bottom: 2.5em
    }

    .prism-action-bar {
        font-size: .9em;
        text-align: center;
        margin: 10px auto;

        .action-item {
            i {
                margin-right: .5em;
            }

            a.no-link {
                text-decoration: none;
                color: $text-primary;
                opacity: .5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .prism-post-item {
        margin-bottom: 4.5em;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .prism-list {
        padding: 0;
        margin-left: 0;
        margin-bottom: 5em;

        .prism-list-item {
            list-style: none;
            margin-bottom: 1.1em;
            text-indent: -100px;
            padding-left: 100px;

            .prism-list-item-text {
                font-weight: 400;
                color: $text-primary;

                .item-title {
                    letter-spacing: 1px;
                }

                time {
                    font-family: $pr-font-mono;
                    color: $text-secondary;
                    font-size: 80%;
                    margin-right: 10px;
                }
            }
        }
    }


}

.prism-post-meta {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    color: $text-light;

    a.no-link {
        color: $text-secondary;
    }

    span {
        font-size: 14px;
        margin-right: .3em;
    }

    span:last-child {
        margin-right: 0;
    }
}

.prism-pagination {
    ul {
        display: flex;
        padding: 0;
        justify-content: center;

        li {
            list-style: none;
            text-transform: uppercase;
            letter-spacing: .1em;
            margin: 0 10px;
            font-size: 14px;

            &.next i {
                margin-right: .5em;
            }

            &.prev i {
                margin-left: .5em;
            }
        }
    }
}
