#prism__comment {
    margin-top: 30px;
    padding: 0;
}

#vcomments {
    * {
        line-height: 1.5;
    }

    a {
        @include a-preset();

        &::before {
            display: none;
        }
    }

    .vwrap {
        border: 1px solid #ccc;
        border-radius: 0px;

        .vheader .vinput {
            border-bottom: 1px solid #ccc;
        }
    }

    .vbtn.vsubmit {
        background-color: $text-primary;
        color: #fff;
        border: none;
        border-radius: 3px;
    }

    .vinfo {
        margin-top: 30px;
    }

    .vlist .vcard {
        .vimg {
            border-radius: 0;
            width: 2.75em;
            height: 2.75em;
        }

        .vhead {
            display: inline-block;

            .vsys {
                display: none;
            }

            .vnick {
                font-size: 1em;
                margin-right: .5em;
                @include a-preset();

                &::before {
                    display: none;
                }
            }
        }

        .vquote {
            color: $text-primary;
            margin-top: 1em;
            padding-left: 0;
            border-left: none;
        }

        .vmeta {
            display: inline;

            .vtime {
                color: $text-primary;
            }

            .vat {
                @include a-preset();
            }
        }

        .vcontent {
            color: $text-primary;

            p {
                margin-top: 0;
            }
        }
    }
}
