$pr-font-sans: -apple-system, system-ui, sans-serif;
$pr-font-mono: 'Fira Code', $pr-font-sans;

$text-primary: #181818;
$text-primary-faded: rgba($color: $text-primary, $alpha: 0.9);
$text-secondary: #888;
$text-light: #ccc;
